span {
    font-family: Merriweather;
    font-size: 1.1rem;
}

strong, p {
    font-family: Open-Sans;
}

header, footer{
    background-color: #C0392B;
    color: white;
    padding: 2rem;
}

main {
    background-color: rgba(231, 211, 174, .5);
}