* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    box-sizing: border-box;
}
/*------ HEADER ------*/
header {
    display: grid;
    grid-template-columns: 24px auto 44px;
    padding: 10px;
    align-items: end;
    border-bottom: solid 1px #ddd;
    column-gap: 8px;
    background-color: #415A77;
    color: white;
}

header img {
    display: block;
    width: 100%;
    height: auto;
    padding-bottom: 5px;
}

header span {
    font-size: 1.3rem;
    color: black;
    margin-bottom: 3px;
    color: white;
    margin-left: 5px;
}

/*------ HAMBURGER ------*/

.hamburger {
    cursor: pointer;
    border: none;
    color: #1B263B;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #778DA9;
}

.hamburger::after {
    content: "\2630";
    font-size: 2rem;
}

.hamburger.show::after {
    content: "\00D7";
    font-size: 2rem;
}

/*------ NAVIGATION ------*/

.navigation {
    display: none;
    background-color: #E0E1DD;
}

.navigation.show {
  display: block;
}


.navigation ul {
    list-style-type: none;
    margin: 3px 0 8px;
    padding: 0;
}

.navigation a{
    text-decoration: none;
    color: black;
    display: block;
    margin: 2px 0;
    text-align: start;
    font-size: 1rem;
    padding: .8rem;
}

.navigation.show a{
    border-bottom: #778DA9 .5px solid;
}

.navigation li.current {
    text-decoration: underline;
}

.navigation a:hover{
    background-color: #778DA9;
}

/*------ BANNER ------*/

.hero {
    position: relative;
    display: inline-block;
    width: 100%;
}

.hero img {
    width: 100%;
    height: auto;
    display: block;
}

.hero button {
    position: absolute;
    font-size: 1.2rem;
    bottom: 10%;   
    right: 10%;     
    padding: 1rem;
    border-radius: 8px;
    cursor: pointer;
    background-color: rgba(65, 90, 119, .9);
    border: 1px black solid;
    color: white;
}

.hero button:hover {
    background-color: #E0E1DD;
    color: black;
}

/*------ MAIN ------*/

h1{
    margin-bottom: 5px;
    margin-left: 10px;
}

.card {
    border: #415A77 2px solid;
    margin: 10px;
    background-color: rgba(224, 225, 221, .6);
    border-radius: 8px;
    overflow: hidden;
    padding: 5px;

    display: grid;
    grid-template-areas: 
    "name"
    "image"
    "description"
    "address"
    "button";
}

.card h2 {
    margin-left: 10px;
    color: #1B263B;
    grid-area: name;
}

.card figure {
    text-align: center;
    grid-area: image; 
}

.card p{
    
    grid-area: description;
    margin: 5px;
}

.card address{
    margin: 12px 5px;
    grid-area: address;
    font-size: 14px;
}

.card button {
    margin: 10px;
    padding: 10px;
    grid-area: button;
    background-color:#415A77;
    color: white;
    border-radius: 16px;
    cursor: pointer;
    border: #1B263B 1.5px solid;
}

/*------ MESSAGE BOX ------*/
.message-box {
    background-color: #415A77;
    margin: 10px;
    text-align: center;
    position: relative;
    padding: .6rem;
    color: white;
    font-size: 18px;
}

.close-btn {
    position: absolute;
    right: 1%;
    top: 10%;
    background-color: #415A77;
    border: none;
    font-size: 24px;
    color: white;
    cursor: pointer;
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.close-btn:hover {
    background-color: #778DA9;
    color: #8B2E3A;
    transform: scale(1.2);
}
/*------ FOOTER ------*/

footer {
    background-color: #415A77;
    color: white;
    padding: 1rem;
}

.media {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.media img {
    width: 44px;
    height: 44px;
    margin: 5px;
}

.media a:hover {
    background-color:#778DA9;
    border-radius: 8px;
}
.contact {
    margin-left: 10px;
    margin-top: 10px;
}

.contact p{
    margin: 1px;
}

.author {
    margin-left: 10px;
    margin-top: 10px;
}

.author p{
    margin: 3px;
}