@media only screen and (min-width: 769px) {
    header, main, nav, footer {
        margin: 0 auto;
    }

    .hamburger {
        display: none;
    }

    .navigation {
        display: block;
        
    }

    .navigation ul{
        display: flex;
    }


    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 10px;
    }

    .hero {
        grid-column: 1/5;
    }

    h1 {
        grid-column: 1/5;
    }

    .dashboard {
        grid-column: 1/5;
        display: grid;
        grid-template-columns: 2fr 1fr 1fr; 
        gap: 20px;
        align-items: stretch; 
    }

    .dashboard section {
        display: flex;
        flex-direction: column;
        margin-bottom: 20px;
    }

    .dashboard section div {
        flex: 1; 
        padding: 10px;
    }
    
    .members {
        grid-column: 1/5;
    }

    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .media img {
        width: 38px;
        height: 38px;
        margin: 5px;
    }
}