@media only screen and (min-width: 769px) {
    header, main, nav, footer {
        margin: 0 auto;
    }

    .hamburger {
        display: none;
    }

    .navigation {
        display: block;
        
    }

    .navigation li.current {
        border-bottom: #1B263B 3px solid;
        text-decoration: none;
    }

    .navigation.show a {
        border: none;
    }
    
    .navigation ul{
        display: flex;
    }

    main {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        column-gap: 10px;
    }

    h1 {
        grid-column: 1/5;
    }
    
    .members {
        grid-column: 1/5;
    }

    .members.list .card-container {
        width: 70%; 
        display: grid !important;
        grid-template-columns: 1fr 2fr 2fr;
    }

    .members.list .info-container p {
        display: block;
        margin: 0;
        color: #1B263B;
    }
    footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    .media img {
        width: 38px;
        height: 38px;
        margin: 5px;
    }
}